%p
  %b
    Photo:
  = @announcement.photo
%p
  %b
    Place:
  = @announcement.place
%p
  %b
    Find date:
  = @announcement.fdate
%p
  %b
    Info:
  = @announcement.info
%p
  %b
    Contacts:
  = @announcement.contacts
%p
  %b
    Status:
  = @announcement.status
%p
  = link_to 'Edit', edit_announcement_path(@announcement)
