%p
  %b
    Здравствуйте,
    = @user.first_name
    = @user.last_name
%p
  %b login:
  = @user.login
%p
  %b password:
  = @user.password
%p
  %b email:
  = @user.email

= cookies[:user_id]

= link_to 'Edit', edit_announcement_path(1)
